<nav class="nav-bar">
    <a href="/usuarios/selfEdit/{{session.user_id}}" style="text-decoration: none;"><h6>Hola {{session.nombre}}&nbsp;</h6></a>
    <a class="btn-out" href="/auth/logOut">SALIR &nbsp;<i class="bi bi-box-arrow-right"></i></a>
</nav>