<aside class="sidebar">
    <div class="side-head">
        <img class="side-logo" src="/images/cr.png"/>
    </div>
    <div class="side-cont">
        <a href="/" class="{{index}}"><i class="bi bi-house-door"></i></i>&nbsp;Inicio</a>
        <a href="/clientes" class="{{clientes}}"><i class="bi bi-people"></i>&nbsp;Clientes</a>
        <a href="/pedidos" class="{{ped}}"><i class="bi bi-clipboard-check"></i>&nbsp;Pedidos</a>
        <a href="/usuarios" class="{{usuarios}}"><i class="bi bi-person-video3"></i>&nbsp;Usuarios</a>
    </div>
    <div class="side-footer">
        <p>Creado por Seijas, Nicolas Ariel &copy;2023 </p>
    </div>
</aside>